.thumbnail img {
    width: 100%;
    display: table-cell;
}

.thumbnail {
    padding: 0;
    margin: auto;
    display:table;
}

.thumbnail .caption-full {
    padding: 9px;
}

#delete-form {
    display: inline;
}